@import "../../../node_modules/react-big-calendar/lib/css/react-big-calendar.css";

.login-form-wrapper {
  width: 40%;
  background: #281e3c;
  transform: translate(75%, 25%);
  padding: 5%;
}

.logo {
  width: 60%;
  margin: auto;
  margin-bottom: 10%;
}
.custom-app-header {
  height: 50px;
  padding: 0 20px 0 0;
  line-height: 50px;
  flex: 0 0 auto;
  background-color: #281e3c !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #55c779;
}

.header-anticon .anticon svg {
  display: inline-block;
  margin-bottom: 6px;
}

.header-menu-icon .anticon svg {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 3px
}

.header-search .ant-input {
  color: rgb(190, 188, 188);
  background-color: transparent;
  background-image: none;
  border: 0;
}

.no-focus .ant-input:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.no-hover .ant-input:hover {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.ant-input:focus,
.ant-input:hover {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1.5px #9ee2b3;
  box-shadow: 0 0 0 1.5px #9ee2b3;
}

.header-right {
  width: 23%;
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus,
.ant-btn:hover {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.button-hover .ant-btn:hover {
  -webkit-box-shadow: 0 0 0 1px #9ee2b3;
  box-shadow: 0 0 0 1px #9ee2b3;
}

.new-booking-modal-input .ant-input {
  color: rgb(190, 188, 188);
  background-color: transparent;
  background-image: none;
  border-radius: 3px;
}

.new-booking-modal-form-item .ant-form-item {
  margin-bottom: 10px;
}

.new-booking-modal-body .ant-modal-body {
  padding: 15px 15px 0 15px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

@media (min-width: 1200px) {
  .ant-col-xl-15 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 99.5%;
  }
}

.ant-layout-content {
  -ms-flex: auto;
  flex: auto;
  height: 100%;
}

.ant-card-body-main-wrapper .ant-card-body {
  height: 100%;
}

.rbc-time-header.rbc-overflowing {
  height: 80px;
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  height: 40px;
  color: #55c779;
  font-size: large;
  background: #e8e8e8;
}

.rbc-day-slot .rbc-event {
    background: #9ee2b3;
    margin-left: 5px;
}



.rbc-time-view .rbc-row {
  min-height: 30px;
  box-sizing: border-box;
}

.rbc-header {
  padding-top: 10px;
  height: 40px;
}

.rbc-event {
  background-color: #9ee2b3;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 5px;
}